html, body { background: rgb(220,220,220); }
h2 {text-align: center;}

.page { padding: 20px; max-width: 1200px; margin: 10px auto;}
.page.login { text-align: center; }
.page_container { border: 1px solid grey; padding: 10px; background-color: rgb(240,240,240);}
.login-fields { width: 345px; margin: 5px auto; }
.login-field { display: flex; justify-content: space-between; align-items: baseline; margin: 4px 0; }
.login-field input { font-size: 18px; padding: 2px 5px; }

.dashboard { max-width: 1000px; margin: 10px auto; }
.container { margin: 10px auto; display: flex; justify-content: space-between; }

.blocks {	border: 2px solid rgb(120,120,120); max-width: 70%; }
.block {  margin: 8px ;  padding:5px;}
.block .title {  font-size: 16px; font-weight: bold;}
.block.ad {background-color:rgb(230,230,230); border:2px solid rgb(220,220,220);}
.block.article {border: 1px solid rgb(160,160,160);background-color:rgb(250,250,250);}
.block .controls { display: flex; margin: 10px auto; background-color: rgb(245,245,245);padding: 10px;border:1px solid grey;}

.block .controller { border-right: 2px solid rgb(160,160,160); margin-right: 20px; padding-right: 15px; }
.articles { border: 2px solid rgb(120,120,120); margin-left: 10px;}
.folder { margin:10px;}
.folder .list { border: 1px solid rgb(220,220,220); margin: 3px; }
.folder .listItem {	border-bottom: 1px solid grey; margin: 3px; background-color: rgb(230,230,230); }